<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Hello Books:a ​simple​ ​application​ ​that​ ​helps​ ​manage​ ​a​ ​library​ ​and​ ​its​ ​processes​ ​like​ ​stocking, tracking​ ​and​ ​renting​ ​book </title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.99.0/css/materialize.min.css">
    <link href='https://fonts.googleapis.com/css?family=Titillium+Web:400,300,600' rel='stylesheet' type='text/css'>
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">  
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.css">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="styles/style.css">
    <script type="text/javascript" src="https://code.jquery.com/jquery-2.1.1.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.99.0/js/materialize.min.js"></script>
</head>
<body>
    <header> 
        <div class="navbar-fixed">
            <nav>
                <div class="nav-wrapper">
                    <a href="index.html" class="brand-logo left adjust">Hello Books</a>
                        <!-- <a href="#" data-activates="mobile-demo" class="button-collapse"><i class="material-icons">menu</i></a> -->
                        <ul id="nav-mobile" class="right hide-on-med-and-down">
                            <!-- <i class="material-icons prefix">notifications</i> -->
                            <li>
                                <form>
                                    <div class="input-field col s6 s12 ">
                                        <input id="search" type="search"  placeholder="Title, author, or ISBN" required>
                                        <label class="label-icon" for="search"><i class="material-icons">search</i></label>
                                        <i class="material-icons">close</i>
                                    </div>
                                </form>
                            </li>
                            
                            <li><a class="dropdown-button" href="#" data-activates="dropdown1">Sardaunan<i class="material-icons right">arrow_drop_down</i></a>
                                <!-- Dropdown Structure -->
                                <ul id="dropdown1" class="dropdown-content">
                                        <li><a href="favorite.html"><i class="material-icons ">favorite</i>Favorites</a></li>
                                        <li><a href="#!">Terms and Condition</a></li>
                                        <li class="divider"></li>
                                        <li><a href="#!"><i class="material-icons ">lock</i>Log Out</a></li>
                                </ul>
                            </li>
                        </ul>
                </div>
            </nav>
        </div> 
    </header>
    </body>
    <div id="banner">
        <div class="container form-style">
            <div class="row">
                    <div class="row signup-head">  
                            <div class="col s12"> 
                                <h5 class="center-align"> Add Favorite <h5> 
                            </div>
                        </div> 
                <div class="col s12 ">
                    <div class="row ">
                        <form class="col s12 signup" >      
                            <div class="input-field col s12">
                                <i class="material-icons prefix">title</i>   
                                <input list="titles" id="icon-prefix" placeholder="Title" required id="title" type="text" class="validate " >
                                <datalist id="titles">
                                        <option value="Lean Startup"></option>
                                        <option value="So long a letter"></option>
                                        <option value="Fine Boys"></option>
                                        <option value="Extreme Programming"></option>
                                </datalist>
                            </div>
                            <div class="input-field col s12">
                                <i class="material-icons prefix">account_circle</i>
                                <input list="authors" id="icon-prefix" placeholder="Author" required id="author" type="text" class="validate " >
                                <datalist id="authors">
                                    <option value="Teju Cole"></option>
                                    <option value="Simon Sinek"></option>
                                    <option value="Mariam Ba"></option>
                                    <option value="Eric Reis"></option>
                                </datalist>
                            </div>
                            <div class="input-field col s12">
                                <i class="material-icons prefix">confirmation_number</i>
                                <input  list="isbn" id="icon-prefix" id="isbn" type="text" placeholder="ISBN" class="validate">
                                <datalist id="isbn">
                                    <option value="1875615"></option>
                                    <option value="1456715"></option>
                                    <option value="8795624"></option>
                                    <option value="5875624"></option>
                                </datalist>
                            </div>
                            <div class="input-field col s12">
                                <i class="material-icons prefix">label</i>
                                <input list="categories" id="icon-prefix" id="category" type="text" class="validate" placeholder="Category">
                                <datalist id="categories">
                                        <option value="Bestsellers"></option>
                                        <option value="Computing"></option>
                                        <option value="Business"></option>
                                        <option value="Engineering"></option>
                                </datalist>
                            </div>
                                <a class="waves-effect waves-light btn" href="favorite.html">Favorite</a>
                        </form>
                    </div>
                </div>
            </div>

        </div> 
    </div>
  
</body>
<footer class="page-footer">
    <div class="footer-copyright">
        <div class="container">
        © 2017 Happy Girl World
        <a class="grey-text text-lighten-4 right" href="https://llabake.github.io/hello-books"><i class="material-icons prefix"> favorite </i>Sardaunan</a>
        </div>
    </div>
</footer>
          
</html>
