<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Hello Books:a ​simple​ ​application​ ​that​ ​helps​ ​manage​ ​a​ ​library​ ​and​ ​its​ ​processes​ ​like​ ​stocking, tracking​ ​and​ ​renting​ ​book </title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.99.0/css/materialize.min.css">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">    
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.css">  
    <link rel="stylesheet" type="text/css" href="styles/style.css">
    <script type="text/javascript" src="https://code.jquery.com/jquery-2.1.1.min.js"></script>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.99.0/js/materialize.min.js"></script>
</head>

<body>
    <header>
        <div class="navbar-fixed">
            <nav>
                <div class="nav-wrapper">
                    <a href="index.html" class="brand-logo left adjust">HelloBooks</a>
                    <!-- <a href="#" data-activates="mobile-demo" class="button-collapse"><i class="material-icons">menu</i></a> -->
                    <ul id="nav-mobile" class="right hide-on-med-and-down">
                        <!-- <i class="material-icons prefix">notifications</i> -->
                        <li>
                            <form>
                                <div class="input-field col s6 s12 ">
                                    <input id="search" type="search"  placeholder="Title, author, or ISBN" required>
                                    <label class="label-icon" for="search"><i class="material-icons">search</i></label>
                                    <i class="material-icons">close</i>
                                </div>
                            </form>
                        </li>
                        
                        <li><a class="dropdown-button" href="#" data-activates="dropdown1">Sardaunan<i class="material-icons right">arrow_drop_down</i></a>
                            <!-- Dropdown Structure -->
                            <ul id="dropdown1" class="dropdown-content">
                                    <li><a href="addfavorite.html"><i class="material-icons prefix">library_add</i>Add Favorites</a></li>
                                    <li><a href="#!"><i class="material-icons prefix">lock</i>Log Out</a></li>
                                    <li><a href="#!">Terms and Condition</a></li>
                                    
                            </ul>
                        </li>
                    </ul>
                </div>
            </nav>
        </div>
    </header>
    <div class="container">
            <div class="divider"></div>
            <div class="section">
              <h5>Section 1</h5>
              <p>Stuff</p>
              <div class="row">
                    <div class="col s12">
                        <div class="col s12 m6 l3">
                           <img class="materialboxed" width="150" src="images/lean start.jpg">
                        </div>
                        <div class="col s12 m6 l3">
                            <img class="materialboxed" width="150" src="images/nobel prize.jpg">
                        </div>
                        <div class="col s12 m6 l3">
                            <img class="materialboxed" width="150" src="images/huges.jpg">
                        </div>
                        <div class="col s12 m6 l3">
                            <img class="materialboxed" width="150" src="images/kent.jpg">
                        </div>
                    </div>
                </div>
            </div>
            <div class="divider"></div>
            <div class="section">
              <h5>Section 3</h5>
              <p>Stuff</p>
              <div class="row">
                    <div class="col s12">
                        <div class="col s12 m6 l3">
                            <img class="materialboxed" width="150" src="images/nobel prize.jpg">
                        </div>
                        <div class="col s12 m6 l3">
                            <img class="materialboxed" width="150" src="images/lean start.jpg">
                        </div>
                        <div class="col s12 m6 l3">6
                                <img class="materialboxed" width="150" src="images/lola.jpg">
                        </div>
                        <div class="col s12 m6 l3">
                                <img class="materialboxed" width="150" src="images/manda.jpg">
                        </div>
                    </div>
                </div>
            </div>
            <div class="divider"></div>
            <div class="section">
              <h5>Section 2</h5>
              <p>Stuff</p>
              <div class="row">
                    <div class="col s12">
                        <div class="col s12 m6 l3">
                                <img class="materialboxed" width="150" src="images/kent.jpg">
                        </div>
                        <div class="col s12 m6 l3">
                                <img class="materialboxed" width="150" src="images/huges.jpg">
                        </div>
                        <div class="col s12 m6 l3">
                                <img class="materialboxed" width="150" src="images/manda.jpg">
                        </div>
                        <div class="col s12 m6 l3">
                                <img class="materialboxed" width="150" src="images/lola.jpg">
                        </div>
                    </div>
                </div>
            </div>
    </div>
</body>
<footer class="page-footer">
        <div class="container">
            <div class="row">
                <div class="col l6 s12">
                    <h5 class="white-text">Stay Connected</h5>
                    <p class="grey-text text-lighten-4">Join our over 5 million users today.
                    </p>
                </div>
                <div class="col l4 offset-l2 s12">
                    <!--
                  <h5 class="white-text">Sign Up</h5>
                   <h5 class="white-text">Sign In</h5>
    -->
                    <ul style="display: inline-flex;">
                        
                        <li>
                            <a href="http://facebook.com/morecipesapp"> <i class="fa fa-facebook"></i></a>
                        </li>
                        &emsp;&emsp;
                        <li>
                          <a href="http://twitter.com/morecipesapp"> <i class="fa fa-twitter"></i></a>
                      </li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="footer-copyright">
            <div class="container">
                © 2017 Happy Girl World
                <!--            <a class="grey-text text-lighten-4 right" href="#!">More Links</a>-->
            </div>
        </div>
</footer>
</html>
<!-- <script>
        $(document).ready(function(){                 
            $('input.autocomplete').autocomplete({
            data: {
                "Apple": null,
                "Microsoft": null,
                "Google": null,
                "Gargle":null
            }
            });                
            });
  </script>   -->