<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Hello Books:a ​simple​ ​application​ ​that​ ​helps​ ​manage​ ​a​ ​library​ ​and​ ​its​ ​processes​ ​like​ ​stocking, tracking​ ​and​ ​renting​ ​book </title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.99.0/css/materialize.min.css">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">    
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/3.7.0/css/font-awesome.css">  
    <link rel="stylesheet" type="text/css" href="styles/style.css">
    <script type="text/javascript" src="https://code.jquery.com/jquery-2.1.1.min.js"></script>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.99.0/js/materialize.min.js"></script>
</head>

<body>
    <header>
        <div class="navbar-fixed">
            <nav>
                <div class="nav-wrapper">
                    <a href="index.html" class="brand-logo left adjust">HelloBooks</a>
                    <a href="#" data-activates="mobile-demo" class="button-collapse"><i class="material-icons">menu</i></a>
                    <ul class="right hide-on-med-and-down">
                        <li>
                            <form>
                                <div class="input-field col s6 s12 ">
                                    <input id="search" type="search"  placeholder="Title, author, or ISBN" required>
                                    <label class="label-icon icon-sit" for="search"><i class="material-icons">search</i></label>
                                    <i class="material-icons">close</i>
                                </div>
                            </form>
                        </li>
                        <li><a href="signin.html">Sign In</a></li>
                        <li><a href="signup.html">Sign Up</a></li>
                    </ul>
                    <ul class="side-nav" id="mobile-demo">
                        <li>
                            <form>
                                <div class="input-field col s6 s12 ">
                                    <input id="search" type="search"  placeholder="Title, author, or ISBN" required>
                                    <label class="label-icon" for="search"><i class="material-icons">search</i></label>
                                    <i class="material-icons">close</i>
                                </div>
                            </form>
                        </li>
                        <li><a href="#popular-books">Popular Books</a></li>                       
                        <li><a href="signin.html">Sign In</a></li>
                        <li><a href="signup.html">Sign up</a></li>
                    </ul>
                </div>
            </nav>
        </div>
    </header>
    <div class="home-page-slider">
            <div class="slider">
                    <ul class="slides">
                      <li>
                        <img src="images/lib (2).jpg">
                        <div class="caption left-align">
                          <h3>Welcome to HelloBooks</h3>
                          <h5 class="light grey-text text-lighten-3">Sign Up today to enter into a whole book world</h5>
                          
                        </div>
                      </li>
                      <li>
                        <img src="images/lib (3).jpg">
                        <div class="caption right-align">
                          <h3>Over 100,000 Books and counting</h3>
                          <h5 class="light grey-text text-lighten-3">You can borrow a book to read and even post reviews</h5>
                          
                        </div>
                      </li>
                      <li>
                        <img src="images/lib (4).jpg">
                        <div class="caption center-align">
                          <h3>Share amazing book experiences</h3>
                          <h5 class="light grey-text text-lighten-3">Review books, create reading list and add books to your favorite list</h5>
                        </div>
                      </li>
                    </ul>
                  </div>
    </div>
    
          <div >
              <h4 class="center-align"> <span>Most Popular BOOKS
                  </span>
              </h4>
          </div>
          <div class="divider"></div>
          <div class="section">
              <div class="container">
                    <div class="row">
                        <div class="book col s12 m3 l3">
                            <div class="card">
                                <div class="card-image waves-effect waves-block waves-light">
                                    <img  src="images/lean start.jpg">
                                </div>
                                <div class="card-content">
                                    <p><a href="detail.html" class="btn">Borrow</a></p>
                                </div>
                            </div>
                            <div class="book-info center-align">
                                <div class="book-title"><span>Lean Start Up </span></div>
                                <div class="book-author">by <span>Eric Reis</span></div>
                                <div class="book-rating"> <span><i class="material-icons ">star</i></span> <span><i class="material-icons ">star</i></span><span><i class="material-icons ">star</i></span><span><i class="material-icons ">star</i></span><span><i class="material-icons ">star_half</i></span></div>
                            </div>
                        </div>
                        <div class="book col s12 m3 l3">
                            <div class="card">
                                <div class="card-image waves-effect waves-block waves-light">
                                    <img  src="images/lean start.jpg">
                                </div>
                                <div class="card-content">
                                    <p><a href="detail.html" class="btn">Borrow</a></p>
                                </div>
                            </div>
                            <div class="book-info center-align">
                                <div class="book-title"><span>Lean Start Up </span></div>
                                <div class="book-author">by <span>Eric Reis</span></div>
                                <div class="book-rating"> <span><i class="material-icons ">star</i></span> <span><i class="material-icons ">star</i></span><span><i class="material-icons ">star</i></span><span><i class="material-icons ">star</i></span><span><i class="material-icons ">star_half</i></span></div>
                            </div>
                        </div>
                        <div class="book col s12 m3 l3">
                            <div class="card">
                                <div class="card-image waves-effect waves-block waves-light">
                                    <img  src="images/lean start.jpg">
                                </div>
                                <div class="card-content">
                                    <p><a href="detail.html" class="btn">Borrow</a></p>
                                </div>
                            </div>
                            <div class="book-info center-align">
                                <div class="book-title"><span>Lean Start Up </span></div>
                                <div class="book-author">by <span>Eric Reis</span></div>
                                <div class="book-rating"> <span><i class="material-icons ">star</i></span> <span><i class="material-icons ">star</i></span><span><i class="material-icons ">star</i></span><span><i class="material-icons ">star</i></span><span><i class="material-icons ">star_half</i></span></div>
                            </div>
                        </div>
                        <div class="book col s12 m3 l3">
                            <div class="card">
                                <div class="card-image waves-effect waves-block waves-light">
                                    <img  src="images/lean start.jpg">
                                </div>
                                <div class="card-content">
                                    <p><a href="detail.html" class="btn">Borrow</a></p>
                                </div>
                            </div>
                            <div class="book-info center-align">
                                <div class="book-title"><span>Lean Start Up </span></div>
                                <div class="book-author">by <span>Eric Reis</span></div>
                                <div class="book-rating"> <span><i class="material-icons ">star</i></span> <span><i class="material-icons ">star</i></span><span><i class="material-icons ">star</i></span><span><i class="material-icons ">star</i></span><span><i class="material-icons ">star_half</i></span></div>
                            </div>
                        </div>
                    </div>
                                        <div class="row">
                        <div class="book col s12 m3 l3">
                            <div class="card">
                                <div class="card-image waves-effect waves-block waves-light">
                                    <img  src="images/lean start.jpg">
                                </div>
                                <div class="card-content">
                                    <p><a href="detail.html" class="btn">Borrow</a></p>
                                </div>
                            </div>
                            <div class="book-info center-align">
                                <div class="book-title"><span>Lean Start Up </span></div>
                                <div class="book-author">by <span>Eric Reis</span></div>
                                <div class="book-rating"> <span><i class="material-icons ">star</i></span> <span><i class="material-icons ">star</i></span><span><i class="material-icons ">star</i></span><span><i class="material-icons ">star</i></span><span><i class="material-icons ">star_half</i></span></div>
                            </div>
                        </div>
                        <div class="book col s12 m3 l3">
                            <div class="card">
                                <div class="card-image waves-effect waves-block waves-light">
                                    <img  src="images/lean start.jpg">
                                </div>
                                <div class="card-content">
                                    <p><a href="detail.html" class="btn">Borrow</a></p>
                                </div>
                            </div>
                            <div class="book-info center-align">
                                <div class="book-title"><span>Lean Start Up </span></div>
                                <div class="book-author">by <span>Eric Reis</span></div>
                                <div class="book-rating"> <span><i class="material-icons ">star</i></span> <span><i class="material-icons ">star</i></span><span><i class="material-icons ">star</i></span><span><i class="material-icons ">star</i></span><span><i class="material-icons ">star_half</i></span></div>
                            </div>
                        </div>
                        <div class="book col s12 m3 l3">
                            <div class="card">
                                <div class="card-image waves-effect waves-block waves-light">
                                    <img  src="images/lean start.jpg">
                                </div>
                                <div class="card-content">
                                    <p><a href="detail.html" class="btn">Borrow</a></p>
                                </div>
                            </div>
                            <div class="book-info center-align">
                                <div class="book-title"><span>Lean Start Up </span></div>
                                <div class="book-author">by <span>Eric Reis</span></div>
                                <div class="book-rating"> <span><i class="material-icons ">star</i></span> <span><i class="material-icons ">star</i></span><span><i class="material-icons ">star</i></span><span><i class="material-icons ">star</i></span><span><i class="material-icons ">star_half</i></span></div>
                            </div>
                        </div>
                        <div class="book col s12 m3 l3">
                            <div class="card">
                                <div class="card-image waves-effect waves-block waves-light">
                                    <img  src="images/lean start.jpg">
                                </div>
                                <div class="card-content">
                                    <p><a href="detail.html" class="btn">Borrow</a></p>
                                </div>
                            </div>
                            <div class="book-info center-align">
                                <div class="book-title"><span>Lean Start Up </span></div>
                                <div class="book-author">by <span>Eric Reis</span></div>
                                <div class="book-rating"> <span><i class="material-icons ">star</i></span> <span><i class="material-icons ">star</i></span><span><i class="material-icons ">star</i></span><span><i class="material-icons ">star</i></span><span><i class="material-icons ">star_half</i></span></div>
                            </div>
                        </div>
                    </div>
              </div>
          </div>
          <div class="divider"></div>
          <div class="section similar">
              <h3 class="center-align">
                  Based on readers favorites
              </h3>
              <div class="carousel">
                  <a class="carousel-item" href="detail.html"><img src="images/lean start.jpg"></a>
                  <a class="carousel-item" href="detail.html"><img src="images/kent.jpg"></a>
                  <a class="carousel-item" href="detail.html"><img src="images/paul.jpg"></a>
                  
                  <a class="carousel-item" href="detail.html"><img src="images/lola.jpg"></a>
                  <a class="carousel-item" href="detail.html"><img src="images/manda.jpg"></a>
                  <a class="carousel-item" href="detail.html"><img src="images/huges.jpg"></a>
                  
                  <a class="carousel-item" href="detail.html"><img src="images/lean start.jpg"></a>
                  <a class="carousel-item" href="detail.html"><img src="images/kent.jpg"></a>
                  <a class="carousel-item" href="detail.html"><img src="images/grit.jpg"></a>
                  <a class="carousel-item" href="detail.html"><img src="images/lola.jpg"></a>
                </div>
  
          </div>
    

</body>
<footer class="page-footer">
    <div class="container">
        <div class="row">
            <div class="col l6 s12">
                <h5 class="white-text">Stay Connected</h5>
                <p class="grey-text text-lighten-3">Join our over 5 million users today.
                </p>
            </div>
            <div class="col l3 offset-l2 s12">
                <!--
                <h5 class="white-text">Sign Up</h5>
                <h5 class="white-text">Sign In</h5>
-->
                <ul style="display: inline-flex;">
                    
                    <li>
                        <a href="http://facebook.com/morecipesapp"> <i class="fa fa-facebook"></i></a>
                    </li>
                    &emsp;&emsp;
                    <li>
                        <a href="http://twitter.com/morecipesapp"> <i class="fa fa-twitter"></i></a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
    <div class="footer-copyright">
        <div class="container">
            © 2017 Happy Girl World
            <!--            <a class="grey-text text-lighten-3 right" href="detail.html!">More Links</a>-->
        </div>
    </div>
</footer>
</html>
<script>
    $(document).ready(function(){
    $('.carousel').carousel({
        dist: 0,
        shift: 0,
        padding: 50,
        indicators: true,
        
    });
    autoplay()   
function autoplay() {
    $('.carousel').carousel('next');
    setTimeout(autoplay, 4500)};

    $(".button-collapse").sideNav();
    });
    $(document).ready(function(){
      $('.slider').slider();
    });
        
  
</script>
