<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Hello Books:a ​simple​ ​application​ ​that​ ​helps​ ​manage​ ​a​ ​library​ ​and​ ​its​ ​processes​ ​like​ ​stocking, tracking​ ​and​ ​renting​ ​book </title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.99.0/css/materialize.min.css">
    <link href='https://fonts.googleapis.com/css?family=Titillium+Web:400,300,600' rel='stylesheet' type='text/css'>
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">  
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.css">  
    <link rel="stylesheet" type="text/css" href="styles/style.css">
    <script type="text/javascript" src="https://code.jquery.com/jquery-2.1.1.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.99.0/js/materialize.min.js"></script>
</head>
<body>
    <header> 
        <div class="navbar-fixed">
            <nav>
                <div class="nav-wrapper">
                    <a href="index.html" class="brand-logo left adjust">Hello Books</a>
                    <ul id="nav-mobile" class="right hide-on-med-and-down">
                    </ul>
                </div>
            </nav>
        </div> 
    </header>
   <div>
        <div class="row">
            <div class="col s12 ">
                <div class="row ">
                    <form class="col s12 signup" >      
                        <div class="input-field col s12">
                            <input placeholder="Enter your first name" required id="first_name" type="text" class="validate " >
                            <label for="first_name">First Name:</label>
                        </div>
                        <div class="input-field col s12">
                            <input id="username" type="text" placeholder="Enter a username" class="validate">
                            <label for="username">User Name:</label>
                        </div>
                        <div class="input-field col s12">
                            <input id="email" type="email" class="validate" placeholder="Enter your email">
                            <label for="email">Email:</label>
                        </div>
                        <div class="input-field col s12">
                            <input id="password" type="password" placeholder="Enter your password" class="validate">
                            <label for="password">Password:</label>
                        </div>
                        <div class="input-field col s12">
                            <input id="confirm-password" type="password" placeholder="Enter your password again" class="validate">
                            <label for="confirm-password">Confirm Password:</label>
                        </div>
                            <a class="waves-effect waves-light btn" href="#signin_section">Start sharing</a>
                    </form>
                </div>
            </div>
        </div>
    </div> 
</body>
</html>
